.slider {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: 2.125rem;

  @media (min-width: $tablet) {
    margin-top: 4.125rem;
    background-image: linear-gradient($basic-white 0, $basic-white 11.25rem, $basic-light-gray 11.25rem, $basic-light-gray 100%);
    overflow: hidden;
  }

  @media (min-width: $desctop) {
    margin: 0;
    padding: 0;

    background-image: linear-gradient($basic-white 0, $basic-white 12.5rem, $basic-light-gray 12.5rem, $basic-light-gray 100%);
    overflow: visible;
  }

  .slider__images {
    position: relative;

    width: 20rem;
    height: 15rem;

    @media (min-width: $tablet) {
      width: 43.125rem;
      height: 32.3125rem;
    }

    @media (min-width: $desctop) {
      margin: 0 -2.1875rem;
      width: 43.125rem;
      height: 33.5rem;
    }
  }

  .slider__image {
    position: absolute;
    top: 0;
    bottom: 0;

    width: 100%;

    overflow: hidden;
    transition: width 0.4s ease-out;

    &--after {
      display: flex;
      justify-content: flex-end;
      width: 0;
      right: 0;
    }

    @media (min-width: $tablet) {
      flex-direction: column;
      width: 50%;

      &--after {
        align-items: flex-end;
        box-shadow: 25rem 36.25rem 0 25rem #eaeaea;
        background-image: linear-gradient($basic-white 0, $basic-white 11.25rem,#eaeaea 11.25rem, #eaeaea 100%);

        img {
          z-index: 1;
        }
      }
    }

    @media (min-width: $desctop) {
      &--before {
        width: 22.8125rem;
      }

      &--after {
        width: 20.3125rem;
        box-shadow: 25rem 37.5rem 0 25rem #EAEAEA;
        background-image: linear-gradient($basic-white 0, $basic-white 12.5rem, #EAEAEA 12.5rem, #EAEAEA 100%);
      }
    }

    img {
      max-width: inherit;

      @media (min-width: $tablet) {
        width: 43.125rem;
        height: 32.3125rem;
      }
    }
  }

  .slider__before:checked ~ .slider__images .slider__image--before,
  .slider__after:checked ~ .slider__images .slider__image--after {
    width: 100%;
  }

  .slider__before:checked ~ .slider__images .slider__image--before {
    box-shadow: 25rem 37.5rem 0 25rem #f2f2f2;
    z-index: 1;
  }

  .slider__before:checked ~ .slider__images .slider__image--after,
  .slider__after:checked ~ .slider__images .slider__image--before {
    width: 0;
  }

  .slider__action {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.875rem;
    z-index: 1;

    @media (min-width: $tablet) {
      margin-top: 0.9375rem;
      margin-bottom: 1.875rem;
    }

    @media (min-width: $desctop) {
      margin-top: 1.25rem;
      margin-left: 2.8125rem;
    }
  }

  .slider__button-title {
    padding: 0 1.125rem;

    font-family: $oswald-font;
    font-size: 1rem;
    line-height: 1;

    cursor: pointer;
    user-select: none;

    @media (min-width: $tablet) {
      padding: 0.375rem 0;
      font-size: 1.25rem;
      border-bottom: 1px dotted rgba($basic-dark-gray, 0.23);

      &:active {
        border-bottom: none;
      }

      &:hover {
        border-bottom-style: solid;
      }
    }
  }

  .slider__scale {
    display: flex;
    align-items: center;

    padding: 0.25rem 0.375rem;

    width: 5.25rem;
    height: 0.875rem;

    background-color: $basic-white;
    border: 1px solid $special-middle-gray;
    border-radius: 0.375rem;

    @media (min-width: $tablet) {
      margin: 0 1.5rem;
      padding: 0;

      width: 26.75rem;
      height: 0.375rem;

      background-color: #DCDCDC;
      border: none;
    }
  }

  .slider__grip {
    width: 2.1875rem;
    height: 0.375rem;

    background-color: $basic-green;

    border-radius: 3px;
    cursor: pointer;
    transition: margin-left 0.35s ease-out;

    @media (min-width: $tablet) {
      margin-left: calc(50% - 17px);
      width: 2.125rem;
      height: 2.125rem;
      background-image: radial-gradient($basic-green 0, $basic-green 4px, $basic-white 5px, $basic-white 100%);
      border: 1px solid $special-middle-gray;
      border-radius: 50%;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);

      &:hover {
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
      }

      &:active {
        border: 2px solid $basic-green;
        box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
      }
    }
  }

  .slider__before:checked ~ .slider__action .slider__grip {
    margin-left: 0;
  }

  .slider__after:checked ~ .slider__action .slider__grip {
    margin-left: auto;
  }
}
