.button--green {
  display: flex;
  justify-content: center;

  padding: 0.5rem 0 0.625rem 0;
  width: 100%;

  background: $basic-green;

  font-family: $oswald-font;
  font-size: 0.875rem;
  color: $basic-white;

  text-transform: uppercase;

  cursor: pointer;
  transition: $hover;

  &:hover {
    background-color: $special-green;
  }

  &:active {
    background-color: $special-green;
    color: rgba($basic-white, 0.3);
  }

  @media (min-width: $tablet) {
    max-width: 15.3125rem;
    font-size: 1.25rem;
  }
}

.button--gray {
  display: flex;
  justify-content: center;

  padding: 0.5rem 0 0.625rem 0;
  width: 100%;

  background: $basic-light-gray;

  font-family: $oswald-font;
  font-size: 0.875rem;
  color: $basic-middle-gray;

  text-transform: uppercase;

  cursor: pointer;
  transition: $hover;

  &:hover {
    background-color: #EBEBEB;
  }

  &:active {
    background-color: #EBEBEB;
    color: rgba($basic-middle-gray, 0.3);
  }

  @media (min-width: $tablet) {
    max-width: 15.3125rem;
    font-size: 1rem;
  }
}

.button--large {
  display: flex;
  justify-content: center;

  padding: 0.5rem 1.375rem 0.5625rem;
  width: 100%;

  background: $basic-green;

  font-family: $oswald-font;
  font-size: 1rem;
  line-height: 1.5rem;
  color: $basic-white;

  text-transform: uppercase;

  border: none;

  cursor: pointer;
  transition: $hover;

  &:hover {
    background-color: $special-green;
  }

  &:active {
    background-color: $special-green;
    color: rgba($basic-white, 0.3);
  }

  @media (min-width: $tablet) {
    padding: 1rem 1.68rem;
    font-size: 1.25rem;
    line-height: 20px;
  }
}
