.form {
  padding-bottom: 33px;

  @media (min-width: $tablet) {
    padding: 0 40px 72px 40px;
  }

  @media (min-width: $tablet) {
    padding: 0 40px 82px 40px;
  }

  .form__wrapper {
    @media (min-width: $desctop) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 76.25rem;
      margin: 0 auto;
    }
  }

  .form__text-block {
    margin-bottom: 38px;

    @media (min-width: $tablet) {
      margin-bottom: 66px;
    }

    @media (min-width: $desctop) {
      flex: 0 1 100%;
    }
  }

  .form__text {
    font-family: $oswald-font;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;

    @media (min-width: $tablet) {
      font-size: 20px;
      line-height: 1.5;
    }
  }

  .form__group {
    border: none;

    &--personal {
      @media (min-width: $desctop) {
        flex: 0 1 calc(50% - 40px);
      }
    }

    &--program {
      position: relative;
      margin-top: 23px;
      padding: 21px 20px;

      @media (min-width: $tablet) {
        margin: 73px 1.875rem 0 1.875rem;
        padding: 25px 28px;
      }

      @media (min-width: $desctop) {
        margin-top: 0;
        flex: 0 1 calc(50% - 40px);
      }

      &::before {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 1px solid #ededed;
      }
    }

    &--contacts {
      margin-top: 27px;

      @media (min-width: $tablet) {
        margin-top: 66px;
      }

      @media (min-width: $desctop) {
        margin-top: 60px;
        flex: 0 1 100%;
      }
    }

    &--comments {
      margin-top: 27px;

      @media (min-width: $tablet) {
        margin-top: 56px;
      }

      @media (min-width: $desctop) {
        flex: 0 1 100%;
        margin-top: 58px;
      }
    }

    &--extra {
      margin-top: 27px;

      @media (min-width: $tablet) {
        margin-top: 56px;
      }

      @media (min-width: $desctop) {
        flex: 0 1 100%;
        margin-top: 58px;
      }
    }
  }

  .form__group-title {
    &--note {
      display: block;
      @media (min-width: $tablet) {
        display: inline;
      }
    }
  }

  .form-row__fiels {
    margin-top: 1.75rem;

    @media (min-width: $tablet) {
      margin-top: 70px;
    }
    @media (min-width: $desctop) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .form-checkbox__fields {
    margin-top: 1.75rem;

    @media (min-width: $tablet) {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 50px;
    }

    .form-row--checkbox {
      @media (min-width: $tablet) {
        flex: 0 1 calc(50% - 30px);
      }
      @media (min-width: $desctop) {
        flex: 0 1 calc((100% - 80px*3)/4);
      }
    }
  }

  .form-row--input+.form-row--input {
    margin-top: 14px;

    @media (min-width: $tablet) {
      margin-top: 20px;
    }

    @media (min-width: $desctop) {
      margin-top: 0;
    }
  }

  .form-row {
    display: flex;
    align-items: center;

    @media (min-width: $desctop) {
      width: 100%;
    }

    &--input {
      @media (min-width: $desctop) {
        flex: 0 1 calc(50% - 40px);
      }
    }

    &--radio {
      .form-row__label {
        position: relative;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 46px;

        @media (min-width: $tablet) {
          padding-top: 16px;
          padding-left: 60px;
          padding-bottom: 16px;
        }

        &:before {
          content: "";
          position: absolute;
          display: block;
          top: 6px;
          left: 0;
          width: 30px;
          height: 30px;
          padding: 8px;
          border: 1px solid $special-middle-gray;
          border-radius: 50%;

          @media (min-width: $tablet) {
            width: 40px;
            height: 40px;
            padding: 10px
          }
        }

        &:hover {
          &:before {
            border: 1px solid #BABABA;
          }
        }

        &:active {
          opacity: 0.3;
        }
      }
    }
  }

  .form-row__label {
    flex-shrink: 0;
    margin-right: 14px;
    font-family: $oswald-font;
    font-size: 1rem;
    line-height: 18px;
    color: $basic-gray;
    text-transform: uppercase;

    @media (min-width: $tablet) {
      margin-right: 1rem;
      font-size: 20px;
      line-height: 1;
    }
  }

  .form-row__input-wrapper {
    position: relative;
    width: 100%;
  }

  .form-row__input {
    padding: 9px 15px 11px;
    width: 100%;
    height: 45px;

    font-family: $oswald-font;
    font-size: 1rem;
    line-height: 18px;
    color: $basic-gray;

    text-transform: uppercase;

    background-color: $basic-white;
    border: 1px solid rgba($special-middle-gray,.5);

    @media (min-width: $tablet) {
      padding: 10px 19px 12px;
      height: 52px;
      font-size: 20px;
      line-height: 1;
    }

    &::placeholder {
      font-size: 1rem;
      line-height: 18px;
      color: $basic-gray;

      @media (min-width: $tablet) {
        font-size: 20px;
      }
    }

    &:hover {
      border: 1px solid $special-middle-gray;
    }

    &:focus {
      border-color: #212735;
      -webkit-box-shadow: inset 0 0 0 1px #212735;
      box-shadow: inset 0 0 0 1px #212735;
      outline: 0;
    }

    &--comments {
      height: 150px;
      resize: none;
    }

    &--icon {
      padding-right: 47px;

      &:focus~.form-row__icon {
        fill: $basic-green;
      }
    }
  }

  .form-row__icon {
    position: absolute;
    top: 50%;
    right: 32px;
    transform: translate(100%,-50%);
    fill: $basic-gray;
  }

  .form-row__radio-input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .form-row__radio-input:checked~.form-row__label::before {
    background-color: $basic-green;
    background-clip: content-box;
  }

  .form-row__checkbox-label {
    position: relative;
    padding: 12px 46px;
    user-select: none;

    &:before {
      content: "";
      position: absolute;
      display: block;
      top: 6px;
      left: 0;
      width: 30px;
      height: 30px;
      padding: 6px 3px 6px 4px;
      border: 1px solid $special-middle-gray;

      @media (min-width: $tablet) {
        top: 16px;
        width: 40px;
        height: 40px;
        padding: 11px 8px 11px 9px;
      }
    }

    @media (min-width: $tablet) {
      padding-top: 26px;
      padding-left: 60px;
      padding-bottom: 26px;
    }
  }

  .form-row__checkbox:checked~.form-row__checkbox-label::before {
    background: url(../img/icon-tick.svg) no-repeat center;
    background-size: 21px auto;
    background-clip: content-box;
  }

  .form-submit {
    margin-top: 34px;
    width: 100%;

    @media (min-width: $tablet) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      text-align: left;
    }
  }

  .form-submit__button {
    @media (min-width: $tablet) {
      flex: 0 1 calc(50% - 30px);
      padding: 16px 27px;
      font-size: 20px;
      line-height: 20px;
      min-width: 280px;
    }
  }

  .form-submit__note {
    display: block;
    margin-top: 22px;
    font-size: 14px;
    line-height: 1rem;
    text-align: center;
    color: $basic-middle-gray;

    @media (min-width: $tablet) {
      margin-top: 0;
      font-size: 16px;
      line-height: 16px;
      text-align: left;
      flex: 0 1 calc(50% - 30px);
    }
  }
}
