.form {
  padding-bottom: 2.0625rem;

  @media (min-width: $tablet) {
    padding: 0 2.5rem 4.5rem 2.5rem;
  }

  @media (min-width: $tablet) {
    padding: 0 2.5rem 5.125rem 2.5rem;
  }

  .form__wrapper {
    @media (min-width: $desctop) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 76.25rem;
      margin: 0 auto;
    }
  }

  .form__text-block {
    margin-bottom: 2.375rem;

    @media (min-width: $tablet) {
      margin-bottom: 4.125rem;
    }

    @media (min-width: $desctop) {
      flex: 0 1 100%;
    }
  }

  .form__text {
    font-family: $oswald-font;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.28;

    @media (min-width: $tablet) {
      font-size: 1.25rem;
      line-height: 1.5;
    }
  }

  .form__group {
    border: none;

    &--personal {
      @media (min-width: $desctop) {
        flex: 0 1 calc(50% - 2.5rem);
      }
    }

    &--program {
      position: relative;
      margin-top: 1.4375rem;
      padding: 1.3125rem 1.25rem;

      @media (min-width: $tablet) {
        margin: 4.5625rem 1.875rem 0 1.875rem;
        padding: 1.5625rem 1.75rem;
      }

      @media (min-width: $desctop) {
        margin-top: 0;
        flex: 0 1 calc(50% - 2.5rem);
      }

      &::before {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 1px solid #ededed;
      }
    }

    &--contacts {
      margin-top: 1.6875rem;

      @media (min-width: $tablet) {
        margin-top: 4.125rem;
      }

      @media (min-width: $desctop) {
        margin-top: 3.75rem;
        flex: 0 1 100%;
      }
    }

    &--comments {
      margin-top: 1.6875rem;

      @media (min-width: $tablet) {
        margin-top: 3.5rem;
      }

      @media (min-width: $desctop) {
        flex: 0 1 100%;
        margin-top: 3.625rem;
      }
    }

    &--extra {
      margin-top: 1.6875rem;

      @media (min-width: $tablet) {
        margin-top: 3.5rem;
      }

      @media (min-width: $desctop) {
        flex: 0 1 100%;
        margin-top: 3.625rem;
      }
    }
  }

  .form__group-title {
    &--note {
      display: block;
      @media (min-width: $tablet) {
        display: inline;
      }
    }
  }

  .form-row__fiels {
    margin-top: 1.75rem;

    @media (min-width: $tablet) {
      margin-top: 4.375rem;
    }
    @media (min-width: $desctop) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .form-checkbox__fields {
    margin-top: 1.75rem;

    @media (min-width: $tablet) {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 3.125rem;
    }

    .form-row--checkbox {
      @media (min-width: $tablet) {
        flex: 0 1 calc(50% - 1.875rem);
      }
      @media (min-width: $desctop) {
        flex: 0 1 calc((100% - 5rem*3)/4);
      }
    }
  }


  .form-row {
    display: flex;
    align-items: center;

    @media (min-width: $desctop) {
      width: 100%;
    }

    &--input {
      @media (min-width: $desctop) {
        flex: 0 1 calc(50% - 2.5rem);
      }
    }

    &--radio {
      .form-row__label {
        position: relative;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        padding-left: 2.875rem;

        @media (min-width: $tablet) {
          padding-top: 1rem;
          padding-left: 3.75rem;
          padding-bottom: 1rem;
        }

        &:before {
          content: "";
          position: absolute;
          display: block;
          top: 6px;
          left: 0;
          width: 1.875rem;
          height: 1.875rem;
          padding: 0.5rem;
          border: 1px solid $special-middle-gray;
          border-radius: 50%;

          @media (min-width: $tablet) {
            width: 2.5rem;
            height: 2.5rem;
            padding: 0.625rem;
          }
        }

        &:hover {
          &:before {
            border: 1px solid #BABABA;
          }
        }

        &:active {
          opacity: 0.3;
        }
      }
    }
  }

  .form-row--icon+.form-row--icon{
    @media (min-width: $desctop) {
      margin-top: 0;
    }
  }

  .form-row--input+.form-row--input {
    margin-top: 0.875rem;

    @media (min-width: $tablet) {
      margin-top: 1.25rem;
    }
  }

  .form-row__label {
    flex-shrink: 0;
    margin-right: 0.875rem;
    font-family: $oswald-font;
    font-size: 1rem;
    line-height: 1.125rem;
    color: $basic-gray;
    text-transform: uppercase;

    @media (min-width: $tablet) {
      margin-right: 1rem;
      font-size: 1.25rem;
      line-height: 1;
    }
  }

  .form-row__input-wrapper {
    position: relative;
    width: 100%;
  }

  .form-row__input {
    padding: 0.5625rem 0.9375rem 0.6875rem;
    width: 100%;
    height: 2.8125rem;

    font-family: $oswald-font;
    font-size: 1rem;
    line-height: 1.125rem;
    color: $basic-gray;

    text-transform: uppercase;

    background-color: $basic-white;
    border: 1px solid rgba($special-middle-gray,.5);

    @media (min-width: $tablet) {
      padding: 0.625rem 1.1875rem 0.75rem;
      height: 3.25rem;
      font-size: 1.25rem;
      line-height: 1;
    }

    &::placeholder {
      font-size: 1rem;
      line-height: 1.125rem;
      color: $basic-gray;

      @media (min-width: $tablet) {
        font-size: 1.25rem;
      }
    }

    &:hover {
      border: 1px solid $special-middle-gray;
    }

    &:focus {
      border-color: #212735;
      -webkit-box-shadow: inset 0 0 0 1px #212735;
      box-shadow: inset 0 0 0 1px #212735;
      outline: 0;
    }

    &--comments {
      height: 9.375rem;
      resize: none;
    }

    &--icon {
      padding-right: 2.9375rem;

      &:focus~.form-row__icon {
        fill: $basic-green;
      }
    }
  }

  .form-row__icon {
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translate(100%,-50%);
    fill: $basic-gray;
  }

  .form-row__radio-input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .form-row__radio-input:checked~.form-row__label::before {
    background-color: $basic-green;
    background-clip: content-box;
  }

  .form-row__checkbox-label {
    position: relative;
    padding: 0.75rem 2.875rem;
    user-select: none;

    &:before {
      content: "";
      position: absolute;
      display: block;
      top: 6px;
      left: 0;
      width: 1.875rem;
      height: 1.875rem;
      padding: 6px 3px 6px 4px;
      border: 1px solid $special-middle-gray;

      @media (min-width: $tablet) {
        top: 1rem;
        width: 2.5rem;
        height: 2.5rem;
        padding: 0.6875rem 0.5rem 0.6875rem 0.5625rem;
      }
    }

    @media (min-width: $tablet) {
      padding-top: 1.625rem;
      padding-left: 3.75rem;
      padding-bottom: 1.625rem;
    }
  }

  .form-row__checkbox:checked~.form-row__checkbox-label::before {
    background: url(../img/icon-tick.svg) no-repeat center;
    background-size: 1.3125rem auto;
    background-clip: content-box;
  }

  .form-submit {
    margin-top: 2.125rem;
    width: 100%;

    @media (min-width: $tablet) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      text-align: left;
    }
  }

  .form-submit__button {
    @media (min-width: $tablet) {
      flex: 0 1 calc(50% - 1.875rem);
      padding: 1rem 1.6875rem;
      font-size: 1.25rem;
      line-height: 1.25rem;
      min-width: 17.5rem;
    }
  }

  .form-submit__note {
    display: block;
    margin-top: 1.375rem;
    font-size: 0.875rem;
    line-height: 1rem;
    text-align: center;
    color: $basic-middle-gray;

    @media (min-width: $tablet) {
      margin-top: 0;
      font-size: 1rem;
      line-height: 1rem;
      text-align: left;
      flex: 0 1 calc(50% - 1.875rem);
    }
  }
}
